.container-our-reputation {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.container-our-reputation .title-section-our-reputation {
  text-align: center;
  margin-bottom: 35px;
  color: #3D445C;
  font-family: "work sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
.container-our-reputation .reputation {
  border: 1.4px solid #E0E3EB;
  border-radius: 5px;
  width: 332px;
  display: flex;
  padding: 20px 20px 40px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 30px;
}
.container-our-reputation .reputation .title-reputation {
  color: #3D445C;
  font-family: "Work sans";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
}
.container-our-reputation .reputation .text-reputation {
  color: #858EAD;
  font-family: "Work sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

@media screen and (min-width: 900px) and (max-width: 1271px) {
  .container-our-reputation .list-reputation {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-our-reputation .list-reputation .reputation {
    width: 100%;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1272px) {
  .list-reputation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    width: clamp(810px, 100%, 1250px);
    margin: 0 auto;
  }
  .list-reputation .reputation {
    margin: 0;
  }
}
.projects-section-left, .projects-navigation-btn-left, .list-circle-nav, .projects-navigation-btn-right {
  display: none;
}

.title-projects {
  color: #3D445C;
  font-family: "work sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 100px;
}

.projects-section-right .list-projects {
  display: flex;
  flex-direction: column;
  width: 332px;
  margin: 0 auto;
}
.projects-section-right .list-projects .project:hover {
  cursor: pointer;
}
.projects-section-right .list-projects .project {
  width: 332px;
  display: flex;
  flex-direction: column;
  background-color: #2947A9;
  margin-bottom: 30px;
}
.projects-section-right .list-projects .project img {
  object-fit: cover;
  width: 100%;
  height: 247px;
}
.projects-section-right .list-projects .project .project-title {
  margin: 0;
  padding: 12px;
  color: #fff;
  font-family: "Work sans";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
}
.projects-section-right .list-projects .project .project-text {
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
  color: #fff;
  font-family: "Work sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
}

.container-btn-see-more {
  width: 334px;
  margin: 0 auto;
}
.container-btn-see-more button {
  display: flex;
  background-color: #3D445C;
  width: 334px;
  height: 64px;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0;
  color: #fff;
  font-family: "Work sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
}
.container-btn-see-more button:hover {
  cursor: pointer;
}

@media screen and (min-width: 900px) and (max-width: 1273px) {
  .container-sections-projects .projects-section-right .list-projects {
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .container-sections-projects .projects-section-right .list-projects .container-project:nth-child(2) {
    display: flex;
    justify-content: end;
  }
  .container-sections-projects .projects-section-right .list-projects .container-project:nth-child(4) {
    display: flex;
    justify-content: end;
  }
  .container-sections-projects .projects-section-right .list-projects .project {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    height: 400px;
    width: 800px;
    padding-right: 50px;
  }
  .container-sections-projects .projects-section-right .list-projects .project img {
    height: 400px;
    width: 600px;
    object-fit: cover;
  }
  .container-sections-projects .container-btn-see-more button {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1273px) {
  .projects-section-right .list-projects {
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    gap: 30px;
  }
  .projects-section-right .list-projects .project {
    width: 356px;
    margin-bottom: 0;
  }
  .projects-section-left, .projects-navigation-btn-left, .list-circle-nav, .projects-navigation-btn-right {
    display: block;
  }
  .container-btn-see-more {
    display: none;
  }
  .title-projects {
    text-align: start;
    width: clamp(810px, 100%, 1250px);
    margin: 45px auto;
  }
  .container-sections-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: clamp(810px, 100%, 1250px);
    margin: 0 auto;
  }
  .projects-section-left ul {
    padding: 0;
  }
  .projects-section-left ul li {
    list-style: none;
    margin-bottom: 20px;
    color: #C2C7D6;
    font-family: "Work sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
  }
  .projects-section-left ul li:hover {
    cursor: pointer;
  }
  .projects-section-left ul .active {
    color: #2947A9;
    border-left: 4px solid #2947A9;
    padding-left: 16px;
  }
  .list-projects-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    width: 742px;
  }
  .list-projects-navigation .projects-navigation-btn-left button, .list-projects-navigation .projects-navigation-btn-right button {
    display: flex;
    background-color: #3D445C;
    color: #fff;
    width: 295px;
    height: 64px;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    border: 0;
  }
  .list-projects-navigation .projects-navigation-btn-left button img, .list-projects-navigation .projects-navigation-btn-right button img {
    padding-right: 10px;
    padding-left: 10px;
  }
  .list-projects-navigation .projects-navigation-btn-left button:hover, .list-projects-navigation .projects-navigation-btn-right button:hover {
    cursor: pointer;
  }
  .list-projects-navigation .list-circle-nav {
    display: flex;
    flex-direction: row;
    gap: 9px;
  }
  .list-projects-navigation .list-circle-nav .circle-nav {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #F6F8F7;
  }
  .list-projects-navigation .list-circle-nav .active {
    background-color: #2947A9;
  }
}
.container-section-form {
  margin-top: 100px;
}
.container-section-form h1 {
  text-align: center;
  color: #3D445C;
  font-family: "work sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  max-width: 400px;
  min-width: 250px;
  width: 50%;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 30px;
}
.container-section-form .info-form {
  color: #3D445C;
  font-family: "work sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  min-width: 290px;
  max-width: 539px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 56px;
}
.container-section-form .container-form {
  min-width: 300px;
  max-width: 630px;
  width: 50%;
  margin: 0 auto;
}
.container-section-form .input, .container-section-form .input-message::placeholder, .container-section-form .input::placeholder {
  color: #A3AAC2;
  font-family: "work sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
}
.container-section-form .input, .container-section-form .input-message {
  padding: 10px 8px 10px 8px;
  margin-bottom: 20px;
  border: 1px solid #E0E3EB;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
.container-section-form .input-message {
  padding-bottom: 100px;
}
.container-section-form .text-form {
  width: 100%;
  color: #3D445C;
  font-family: "work sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.container-section-form .btn-form {
  display: flex;
  background-color: #2947A9;
  color: #fff;
  width: 100%;
  height: 53px;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: 0;
  color: #fff;
  font-family: "work sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 30px;
}
.container-section-form .btn-form:hover {
  cursor: pointer;
}
.container-section-form .stars-red {
  color: #C40303;
}
.container-section-form #reason-contacting {
  appearance: none;
  background-image: url("../Assets/ic_round-arrow-drop-down-circle.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
}
.container-section-form #reason-contacting:hover {
  cursor: pointer;
}
.container-section-form .container-btn-file-input {
  width: 100% !important;
  height: 41px;
  border: 1px solid #E0E3EB;
  display: flex;
  align-items: center;
  color: #A3AAC2;
  font-family: "work sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}
.container-section-form .container-btn-file-input {
  cursor: pointer;
}
.container-section-form #file-input {
  display: none !important;
}
.container-section-form .btn-file-input {
  background-color: #2947A9;
  width: 102px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  border-radius: 4px 0px 0px 4px;
  color: #fff;
  margin-right: 10px;
}

@media screen and (min-width: 900px) {
  .container-section-form .container-form {
    width: 66%;
  }
  .container-section-form .container-form form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .container-section-form .container-form form .input {
    width: 280px;
    margin-bottom: 20px;
  }
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
header nav .container-navigation {
  display: none;
}
header nav .container-logo-burger img {
  width: 33px;
  height: 21px;
}
header .container-hero {
  height: 470px;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("../Assets/hero-mobile.png");
  background-position: right -200px center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .container-hero h1 {
  margin-left: 30px;
  width: 303px;
  color: #3D445C;
  font-family: "Work sans";
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
}
header .container-hero .container-feature-projects {
  display: none;
}

@media screen and (min-width: 900px) {
  header .container-hero {
    background-image: url("../Assets//hero-desktop.png");
    background-position: right center;
  }
}
@media screen and (min-width: 1050px) {
  header nav .container-navigation {
    display: flex;
  }
  header nav .container-navigation .list-nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  header nav .container-navigation .list-nav .link-nav {
    list-style: none;
    color: #14171F;
    font-family: "work sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
  }
  header nav .container-navigation .list-nav .link-nav:hover {
    cursor: pointer;
  }
  header nav .container-navigation .list-nav .link-active {
    color: #F9995D;
  }
  header nav .container-logo-burger {
    display: none;
  }
  header .container-hero {
    position: relative;
  }
  header .container-hero .container-feature-projects {
    position: absolute;
    right: 40px;
    bottom: 11px;
    display: flex;
    flex-direction: column;
    background-color: #2947A9;
    width: 416px;
    height: 190px;
  }
  header .container-hero .container-feature-projects h2 {
    text-align: center;
    color: #FFF;
    font-family: "work sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
  }
  header .container-hero .container-feature-projects p {
    color: #FFF;
    font-family: "work sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
  header .container-hero .container-feature-projects .container-btn-feature-project {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
  }
  header .container-hero .container-feature-projects .container-btn-feature-project .btn-feature-projects-left, header .container-hero .container-feature-projects .container-btn-feature-project .btn-feature-projects-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
  header .container-hero .container-feature-projects .container-btn-feature-project .btn-feature-projects-left button, header .container-hero .container-feature-projects .container-btn-feature-project .btn-feature-projects-right button {
    background-color: #3D445C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #FFF;
    font-family: "work sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    border: 0;
    height: 40px;
  }
  header .container-hero .container-feature-projects .container-btn-feature-project .btn-feature-projects-left button img, header .container-hero .container-feature-projects .container-btn-feature-project .btn-feature-projects-right button img {
    padding: 10px;
  }
  header .container-hero .container-feature-projects .container-btn-feature-project .btn-feature-projects-left button:hover, header .container-hero .container-feature-projects .container-btn-feature-project .btn-feature-projects-right button:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 1273px) {
  header .container-hero {
    height: 750px;
  }
  header .container-hero h1 {
    width: 556px;
    margin-left: 308px;
    font-size: 4.5rem;
  }
  header .container-hero .container-feature-projects {
    right: 299px;
  }
}

/*# sourceMappingURL=style.css.map */
